<div class="nav w-full p-5 flex flex-col justify-around bg-slate-900  ">

  <div class="text flex  gap-2 ml-2 justify-between items-center lg:align-center lg:ml-0">
    <div class="logo flex gap-2">
      <h3 class="text-2xl font-bold bg-gradient-to-bl from-violet-500 to-fuchsia-500 bg-clip-text text-transparent">
        <i class="fa-solid fa-lightbulb text-yellow-300"></i>
        DevMaster
      </h3>
    </div>

    <span class="toggle" (click)="toggleMenu()">
      <i class="fa fa-bars text-2xl bg-gradient-to-bl from-violet-500 to-fuchsia-500 bg-clip-text text-transparent" aria-hidden="true"></i>
    </span>
  </div>

  <div [ngClass]="{'close': isOpen}" class="routes text-sky-50 ml-5 flex gap-3 justify-start flex-col lg:flex lg:flex-row lg:justify-center">
    <div class="line md:w-full mt-3 border-b-1 border-violet-900 text-violet-800 lg:collapse"></div>

      <a class="ml-4 lg:flex lg:mr-2 lg:p-2 lg:items-center xl:hover:border-yellow-300 xl:hover:border-b-1 duration-200 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
        </svg>
          Inicio
      </a>
      <a class="ml-4 lg:flex lg:mr-2 lg:p-2 lg:items-center xl:hover:border-yellow-300 xl:hover:border-b-1 duration-200 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
          Sobre mí
      </a>
      <a class="ml-4 lg:flex lg:mr-2 lg:p-2 lg:items-center xl:hover:border-yellow-300 xl:hover:border-b-1 duration-200 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
        </svg>
          Skills
      </a>
      <a class="ml-4 lg:flex lg:mr-2 lg:p-2 lg:items-center xl:hover:border-yellow-300 xl:hover:border-b-1 duration-200 flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-luggage-icon lucide-luggage  mr-2"><path d="M6 20a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2"/><path d="M8 18V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v14"/><path d="M10 20h4"/><circle cx="16" cy="20" r="2"/><circle cx="8" cy="20" r="2"/>
        </svg>
          Proyectos
      </a>
      <a class="ml-4 lg:flex lg:mr-2 lg:p-2 lg:items-center xl:hover:border-yellow-300 xl:hover:border-b-1 duration-200 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
        </svg>
          Contacto
      </a>
  </div>
</div>

