<div class="Inicio">
  <div class="">
    <p><i class="fa-regular fa-star"></i>Desarrollador FullStack</p>
  </div>
  <h2>Wilnel <span>Pérez</span></h2>
  <p>Creo experiencias digitales extraordinarias que combinan
    diseño innovador, ódigo limpio y tecnología de vanguardia
  </p>
  <div class="">
    <div class="">
      <i class="fa fa-rocket" aria-hidden="true"></i>
      <h4>Ver mis proyectos</h4>
      <i class="fa-regular fa-share-from-square"></i>
    </div>
    <div class="">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <h4>Trabajemos Juntos</h4>
    </div>
  </div>
</div>
